<launch>
  <arg name="local_planner"          default="dwb"             doc="Local planner can be either dwa, eband, base, teb or pose" />
  <arg name="map_file" default="$(find rm_mir_cleaner)/maps/rm_simple_1.yaml" doc="Path to a map .yaml file (required)." />
  <arg name="prefix" default="" />
  <arg name="namespace" default="$(arg prefix)" doc="Namespace to push all topics into."/>

  <group if="$(eval namespace != '')" ns="$(arg namespace)">
    <include file="$(find rm_mir_cleaner)/launch/start_map.launch">
      <arg name="map_file" value="$(arg map_file)" />
    </include>

    <include file="$(find rm_mir_cleaner)/launch/move_base.launch">
      <arg name="local_planner" value="$(arg local_planner)"/>
      <arg name="prefix" value="$(arg prefix)" />
    </include>
  </group>

  <!-- Duplicate of the above in case namespace is empty. This is necessary to
       avoid the "<group> tag has an empty 'ns' attribute" parsing error. -->
  <group unless="$(eval namespace != '')">
    <include file="$(find rm_mir_cleaner)/launch/start_map.launch">
      <arg name="map_file" value="$(arg map_file)" />
    </include>

    <include file="$(find rm_mir_cleaner)/launch/move_base.launch">
      <arg name="local_planner" value="$(arg local_planner)"/>
      <arg name="prefix" value="$(arg prefix)" />
    </include>
  </group>
</launch>
